@import "tailwindcss";

body, html {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --orange :  #B55638; 
    --red: #740202;
    --dark : #000000;
    /* --gray : #e0e0e0ff; */
    --gray: rgb(240, 238, 238);
    --gold : #cfa500;
    --radius : 25px;
    --spacing-global-padding-x-mobile : 30px;
    --spacing-global-padding-y-mobile : 15px;
    --gapOfItems : 10px;
    --inputSize : 45px;
}
body {
  margin: 0;
  min-width: 375px;
}
